*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: calc(100vh - 4rem);
  background-color: #202124;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  margin: 2rem;
}